/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button,
.pagination select {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #1da1f2;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:hover,
.pagination select:hover {
    background-color: #ddd;
}

/* Responsive Design */
@media (max-width: 768px) {
    .search-controls, .sort-controls {
        flex-direction: column;
    }

    .search-controls > div, .sort-controls > div {
        margin-bottom: 10px;
    }

    input[type="text"], select {
        width: 100%;
    }
}
/* Time Section Styles */

.time-section label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.time-section input[type="date"] {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 150px; /* Adjust as needed */
}

.time-section span {
    font-size: 18px;
    margin: 0 10px; /* Space around the arrow */
}

#nhietdo-h4 {
    margin-left: 70px;
}

#doam-h4 {
    margin-left: 100px;
}
#anhsang-h4 {
    margin-left: 120px;
}